Repository 0xsuryansh/HyperlaneAgentsContracts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @asaj, @tkporter, @jmrossy, @nambrot, @mattiecnvr, @Skunkchain

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @asaj @tkporter
*.ts @yorhodes @jmrossy @nambrot
*.rs @mattiecnvr @tkporter @asaj
*.md @Skunkchain @asaj

# Package owners

## Contracts
solidity/ @yorhodes @asaj @tkporter

## Agents
rust/ @mattiecnvr @tkporter @asaj

## SDK
typescript/sdk @yorhodes @jmrossy

## Token
typescript/token @yorhodes @jmrossy @tkporter

## Hello World
typescript/helloworld @yorhodes @nambrot

## CLI
typescript/cli @jmrossy @asaj

## Infra
typescript/infra @tkporter @asaj @mattiecnvr

CR rossy
  typescript/infra/scripts/deploy.ts
  typescript/infra/scripts/verify.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
Owners: @tkporter, @asaj, @mattiecnvr, @yorhodes, @jmrossy

pipe it through
  typescript/helloworld/src/deploy/deploy.ts
  typescript/infra/scripts/deploy.ts
  typescript/infra/scripts/verify.ts
  typescript/infra/src/deployment/testcontracts/testquerysender.ts
  typescript/infra/src/deployment/verify.ts
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/core/TestRecipientDeployer.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/HyperlaneProxyFactoryDeployer.ts
  typescript/sdk/src/gas/HyperlaneIgpDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/middleware/account/InterchainAccountDeployer.ts
  typescript/sdk/src/middleware/liquidity-layer/LiquidityLayerRouterDeployer.ts
  typescript/sdk/src/middleware/query/InterchainQueryDeployer.ts
  typescript/sdk/src/token/deploy.ts
Owners: @yorhodes, @nambrot, @tkporter, @asaj, @mattiecnvr, @jmrossy

feat: refactor ContractVerifier
  typescript/infra/scripts/verify.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/PostDeploymentContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
  typescript/sdk/src/index.ts
Owners: @tkporter, @asaj, @mattiecnvr, @yorhodes, @jmrossy

dont forget about hook/igp deployer
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
Owners: @yorhodes, @jmrossy

upstream verify script args
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/deploy.ts
  typescript/infra/scripts/verify.ts
Owners: @tkporter, @asaj, @mattiecnvr

construct contractName->sourceName mapping upon initialisation of ContractVerifier
  typescript/infra/src/deployment/verify.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
Owners: @tkporter, @asaj, @mattiecnvr, @yorhodes, @jmrossy

feat: refactor + verify ism factory
  typescript/sdk/src/core/HyperlaneCoreChecker.ts
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/ism/utils.ts
  typescript/sdk/src/router/HyperlaneRouterChecker.ts
Owners: @yorhodes, @jmrossy

reuse deploycontractfromfactory for op/pausable/test ism
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
Owners: @yorhodes, @jmrossy

export build artifact in core package + setup default ContractVerifier using build artifact
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/tsconfig.json
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
Owners: @yorhodes, @asaj, @tkporter, @jmrossy

export build artifact in core package + setup default ContractVerifier using build artifact
  Dockerfile
  solidity/.gitignore
  solidity/exportBuildArtifact.sh
  solidity/package.json
  solidity/tsconfig.json
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/deploy.ts
  typescript/infra/scripts/verify.ts
  typescript/infra/src/deployment/verify.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/PostDeploymentContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/metadata/ChainMetadataManager.ts
Owners: @yorhodes, @asaj, @tkporter, @mattiecnvr, @jmrossy

dont forget about hook/igp deployer
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
Owners: @yorhodes, @jmrossy

CR rossy
  typescript/infra/scripts/deploy.ts
  typescript/infra/scripts/verify.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
Owners: @tkporter, @asaj, @mattiecnvr, @yorhodes, @jmrossy

construct contractName->sourceName mapping upon initialisation of ContractVerifier
  typescript/infra/src/deployment/verify.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
Owners: @tkporter, @asaj, @mattiecnvr, @yorhodes, @jmrossy

feat: refactor ContractVerifier
  typescript/helloworld/src/deploy/deploy.ts
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/deploy.ts
  typescript/infra/scripts/verify.ts
  typescript/infra/src/deployment/testcontracts/testquerysender.ts
  typescript/infra/src/deployment/verify.ts
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/core/TestRecipientDeployer.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/deploy/HyperlaneProxyFactoryDeployer.ts
  typescript/sdk/src/deploy/verify/ContractVerifier.ts
  typescript/sdk/src/deploy/verify/PostDeploymentContractVerifier.ts
  typescript/sdk/src/deploy/verify/types.ts
  typescript/sdk/src/gas/HyperlaneIgpDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/middleware/account/InterchainAccountDeployer.ts
  typescript/sdk/src/middleware/liquidity-layer/LiquidityLayerRouterDeployer.ts
  typescript/sdk/src/middleware/query/InterchainQueryDeployer.ts
  typescript/sdk/src/token/deploy.ts
Owners: @yorhodes, @nambrot, @tkporter, @asaj, @mattiecnvr, @jmrossy

feat: refactor + verify ism factory
  typescript/sdk/src/core/HyperlaneCoreChecker.ts
  typescript/sdk/src/core/HyperlaneCoreDeployer.ts
  typescript/sdk/src/deploy/HyperlaneDeployer.ts
  typescript/sdk/src/hook/HyperlaneHookDeployer.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.hardhat-test.ts
  typescript/sdk/src/ism/HyperlaneIsmFactory.ts
  typescript/sdk/src/ism/utils.ts
  typescript/sdk/src/router/HyperlaneRouterChecker.ts
Owners: @yorhodes, @jmrossy
